{% extends 'base.html' %}
{% block title %}
    Blogs
{% endblock title %}
{% block content %}
    <br>
    <h1 align="center">Featured Blogs</h1>
    <br>
    {% if allBlogs|length == 0 %}
    <div class="alert alert-primary" role="alert">
      No one has bloged any blogs yet. Become the first Blogr in the world by posting a blog!
    </div>
    {% endif %}
    {% for blog in allBlogs %}
    <div class="p-4 p-md-5 mb-4 rounded text-light bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 fst-italic">{{blog.id}}. {{blog.title}}</h1>
          <p class="lead my-3">{{blog.content}}</p>
          <p class="lead mb-0">By: {{blog.author}}</p>
          <br>  
          <a href="/blogs/delete/{{blog.title}}" class="btn btn-primary">Delete</a>
          <a href="/blogs/update/{{blog.title}}" class="btn btn-primary">Edit</a>
          <br><br>
        </div>
        <h6>Comments - </h6>
        <p class="card-text text-light bg-dark">
        {% if blog.cmnts|length > 0 %}
          {% for cmnt in blog.cmnts %}
          {% if blog.author == current_user.username %}
          {{cmnt.text}} - {{cmnt.author}}&nbsp;&nbsp;<a href="/blogs/deletecmnt/{{cmnt.text}}" class="btn btn-primary">Delete comment</a><br><br>
          {% else %}
          {{cmnt.text}} - {{cmnt.author}}<br>
          {% endif %}
          {% endfor %}
        {% else %}
          <p>There are no comments on this blog.</p>
        {% endif %}
        </p>
        <form
          class="input-group mb-3"
          method="post"
          action="/blogs/comment/{{blog.title}}"
        >
          <input
            type="text"
            id="text"
            name="text"
            class="form-control"
            placeholder="Comment something!"
          />
          <button type="submit" class="btn btn-primary">Comment</button>
        </form>
      {% endfor %}
      </div>
{% endblock content %}