{% extends "base.html" %} {% block title %}Edit {{blog.title}}{% endblock %} {% block
    content %}
    <br>
    <main class="form-signin w-100 m-auto container-fluid">
      <form action="/blogs/update/{{blog.title}}" method="post">
        <h1 class="h3 mb-3 fw-normal">Edit {{blog.title}}</h1>
        <div class="form-floating">
          <input type="text" class="form-control" name="new_title" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Updated blog title</label>
        </div>
        <br> 
        <div class="form-floating">
          <textarea type="text" class="form-control" name='new_content' style="height:100px;" id="floatingPassword" placeholder="Password"></textarea>
          <label for="floatingPassword">Updated blog content</label>
        </div>
        <br>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Update</button>
      </form>
    </main>
    {% endblock %}
    