{% extends "base.html" %} {% block title %}Post a blog{% endblock %} {% block
    content %}
    <br>
    <main class="form-signin w-100 m-auto container-fluid">
      <form action="/blogpost" method="post">
        <h1 class="h3 mb-3 fw-normal">Post a blog</h1>
        <div class="form-floating">
          <input type="text" class="form-control" name="blog_title" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Blog Title</label>
        </div>
        <br> 
        <div class="form-floating">
          <textarea type="text" class="form-control" name='blog_content' style="height:100px;" id="floatingPassword" placeholder="Password"></textarea>
          <label for="floatingPassword">Blog content</label>
        </div>
        <br>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Post</button>
      </form>
    </main>
    {% endblock %}
    