{% extends "base.html" %} {% block title %}Register{% endblock %} {% block
content %}
<br>
<main class="form-signin w-100 m-auto container-fluid">
  <form action="/reg" method="post">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    <div class="form-floating">
      <input type="text" class="form-control" name="username" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Username</label>
    </div>
    <br>
    <div class="form-floating">
      <input type="email" class="form-control" name="email" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <br>  
    <div class="form-floating">
      <input type="password" class="form-control" name='password1' id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    <br>
    <div class="form-floating">
      <input type="password" class="form-control" name='password2' id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Confirm Password</label>
    </div>
    <br>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
  </form>
</main>
{% endblock %}
